/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Additional custom styles */
@keyframes float-in {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/* globals.css for nav link */
.group {
  position: relative;
}

.group:hover span {
  animation: boxRotate 0.6s forwards;
}

@keyframes boxRotate {
  0% {
    transform: scale(0) rotate(0deg);
  }
  50% {
    transform: scale(1.2) rotate(45deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}


.animate-float-in {
  animation: float-in 1.5s ease-out forwards;
}

/* Rotating border hover effect */
.hover-effect {
  position: relative;
  display: inline-block;
}

.hover-effect::before, 
.hover-effect::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 2px solid white;
  transition: all 0.5s ease-in-out;
}

.hover-effect::before {
  top: 0;
  left: 0;
}

.hover-effect::after {
  bottom: 0;
  right: 0;
}

.hover-effect:hover::before {
  width: 100%;
  height: 100%;
}

.hover-effect:hover::after {
  width: 100%;
  height: 100%;
}

.header-bg {
  background-image: url('./public/header.png'); /* Ensure this path is correct */
  background-size: cover;
  background-position: center;
}


/* Zoom-out effect */
.zoom-out {
  animation: zoomOut 0.5s ease forwards;
}

@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}

/* Float-in effect */
.float-in {
  opacity: 0;
  transform: translateY(20px);
  animation: floatIn 0.8s ease forwards;
}

@keyframes floatIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
